[user]
	email = k.wakitani@gmail.com
	name = k.wakitani
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
	precomposeUnicode = true
[include]
	path = ~/.gitconfig_local
[alias]
	merged-branch = !git branch --merged | grep -v '*\\|master\\|develop' | xargs git branch -d
	dj = diff --word-diff-regex=$'[^\\x80-\\xbf][\\x80-\\xbf]*' --word-diff=color
	co = !printf '"\\e[31mUse \\e[47;1mswitch\\e[m\\e[31m or \\e[47;1mrestore\\e[m\n"' && exit 3 && :
	sw = switch
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg "x509"]
	program = smimesign
[stash]
	showPatch = true
[rebase]
	autosquash = true
[rerere]
	enabled = true
