[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".tmux/plugins/tmux-battery"]
	path = .tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule ".vim/dicts"]
	path = .vim/dicts
	url = https://github.com/pocke/dicts.git
[submodule "zsh-plugins/zsh-autoswitch-virtualenv"]
	path = zsh-plugins/zsh-autoswitch-virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv
