[user]
	email = k.wakitani@gmail.com
	name = k.wakitani
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[include]
	path = ~/.gitconfig_local
[alias]
	merged-branch = !git branch --merged | grep -v '*\\|master\\|develop' | xargs git branch -d
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg "x509"]
	program = smimesign
[stash]
	showPatch = true
